<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
    <select id="noticeList" resultType="kr.co.teaspoon.dto.Notice">
        <![CDATA[
        select * from notice
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        and title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by seq asc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="noticeListCount" resultType="integer">
        <![CDATA[
        select count(*) from notice
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        and title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="noticeDetail" resultType="kr.co.teaspoon.dto.Notice">
        select * from notice where seq = #{seq}
    </select>

    <insert id="noticeInsert">
        insert into notice values(default, #{title}, #{content}, default, default)
    </insert>

    <update id="noticeUpdate">
        update notice set title = #{title}, content = #{content} where seq = #{seq}
    </update>

    <update id="noticeUpdateVisited">
        update notice set visited = visited + 1 where seq = #{seq}
    </update>

    <delete id="noticeDelete">
        delete from notice where seq = #{seq}
    </delete>

</mapper>